// Standart Colors

$white: #fff;
$black: #000;

// Main Colors

$main: #71f6eb;
$mainLight: #b2f2ee;
$mainDark: #2c3938;
$yellow: #f2da3b;

// Gray Text

$heading: #323333;
$subheading: #848585;
$text: #646565;

// Gray bgs

$gray: #eff0f2;
$grayLight: #f9fbfb;
$grayDark: #262b2e;