// Standart Colors

$white: #ffffff;
$black: #000000;

// Main Colors

$main: #71f6eb;
$mainLight: #b2f2ee;
$mainDark: #2c3938;
$yellow: #f2da3b;
$navBtn: #606061;

// Gray Text

$title: #505050;
$heading: #323333;
$subheading: #848585;
$text: #646565;
$contacts: #c4c7ca;
$contactsBg: #021623;

// Gray colors

$gray: #eff0f2;
$grayLight: #f9fbfb;
$grayMedium: #d0d0d0;
$grayDark: #262b2e;