@import 'fonts';
@import 'colors';

// Main Settings

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
}

ol, ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	padding: 6rem 0 1.5rem;
	background-color: $gray;

	&__wrap {
		width: 117rem;
		padding-left: 1.5rem;	
		padding-right: 1.5rem;	
		min-height: 100%;
		margin: auto;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;

		img {
			height: 5rem;
		}
	}

	&__nav {
		&-btn {
			width: 3rem;
			height: 2rem;
			padding: 0;
			border-width: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			background-color: transparent;
			cursor: pointer;
			transition: all .1s;

			&:hover {
				height: 2.5rem;
			}

			&::before,
			&::after,
			span {
				content: "";
				width: 3rem;
				height: .4rem;
				border-radius: .5rem;
				background-color: $navBtn;
				transition: all .1s;
			}
		}
	}
}

.main {
	font-family: Raleway;
	color: $text;
}

.banner {
	@extend .works;
	background-color: $gray;

	&__wrap {
		@extend .header__wrap;
	}

	&__title {
		width: 100%;
		margin: 5rem 0;
		letter-spacing: .5rem;
		font-family: Montserrat;
		font-size: 4.5rem;
		color: $title;
		text-align: center;
		text-transform: uppercase;
		text-shadow: .5rem .6rem 1rem $text;

		&-row {
			display: block;
		}

		&-mark {
			color: inherit;
			background-color: $main;
		}
	}

	&__btn {
		min-width: 23rem;
		min-height: 5rem;
		margin: 8.5rem auto;
		border: .2rem solid $text;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family:  Montserrat;
		font-size: 1.8rem;
		text-transform: uppercase;
		color: $text;
		transition: all .1s;
		cursor: pointer;

		&:hover {
			color: $white;
			background-color: $text;
		}
	}

	&__decor-img {
		position: absolute;
		right: 9.5rem;
		bottom: 0;

		&::before {
			content: url('../img/decor/decorate_juice.png');
		}
	}
}

.about {
	@extend .works;
	background-color: $grayLight;

	&__wrap {
		@extend .header__wrap;
	}

	&__cont {
		min-width: 100%;
		margin: 1.5rem 0 14rem;
	}

	&__heading {
		width: 100%;
		margin: 0;
		font-family: Montserrat;
		font-size: 3.8rem;
		font-weight: 700;
		color: $heading;
		text-transform: uppercase;
		text-align: center;
	}

	&__subheading {
		width: 100%;
		margin: 0;
		font-family: Merriweather;
		font-size: 1.8rem;
		font-weight: 400;
		color: $subheading;
		text-transform: uppercase;
		text-align: center;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__carousel {
		width: 50%;
		padding: 0 3.5rem;

		&-list {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 0;

			&::before {
				content: "";
				width: 100%;
				height: 40rem;
				display: block;
				position: absolute;
				background-color: $gray;
				z-index: -1;
			}
		}

		&-item {
			width: calc(100% - 9rem);
			margin: 0 4.5rem;
			height: 48.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0px 40px -20px $grayDark;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-nav {
			width: 100%;
			margin: 4rem 0 .5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-dot {
			width: 1rem;
			height: 1rem;
			padding: 0;
			margin: 0 .2rem;
			border-width: 0;
			border-radius: .3rem;
			background-color: $grayMedium;
			transition: all .3s;
			cursor: pointer;

			&.active {
				background-color: $main;
			}
		}
	}

	&__text {
		@extend .about__carousel;
		font-size: 1.6rem;
		font-weight: 400;

		&-heading {
			margin: 0 0 3rem;
			font-family: Merriweather;
			font-size: 2rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		p {
			margin: 0 0 4rem;
		}
	}
}

.works {
	min-height: 100vh;
	padding: 10.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&__wrap {
		@extend .header__wrap;
	}

	&__cont {
		@extend .about__cont;
		margin-bottom: 12rem;
	}

	&__heading {
		@extend .about__heading;
	}

	&__subheading {
		@extend .about__subheading;
	}

	&__list {
		margin-bottom: 1.5rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: calc(33.33333% - 1rem);
		margin: .65rem 0;

		&-photo {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.services {
	@extend .works;
	background-color: $grayLight;

	&__wrap {
		@extend .header__wrap;
	}

	&__cont {
		@extend .about__cont;
	}

	&__heading {
		@extend .about__heading;
	}

	&__subheading {
		@extend .about__subheading;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		min-height: 37rem;
		margin: .5rem 0;
		position: relative;
		overflow: hidden;

		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(6) {
			width: calc(58.33333% - .75rem);
		}

		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(5) {
			width: calc(41.66666% - .75rem);
		}

		&--front,
		&--back {
			width: 100%;
			height: 100%;
			padding: 5rem 6.5rem;
			position: relative;
		}

		&--front {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			z-index: 0;
			overflow: hidden;
			color: $white;
			background-color: $gray;
			position: absolute;

			&::before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: $black;
				z-index: -1;
				opacity: .5;
			}
		}

		&--back {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			background-color: $main;
			color: $mainDark;
			transition: all .3s;
			left: -100%;
		}

		&-content {
			margin-bottom: auto;
		}

		&-bg {
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			z-index: -2;
			transform: translateX(-50%);
		}

		&-heading {
			margin: 2.7rem 0;
			font-family: Merriweather;
			font-size: 2rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		&-description {
			margin: 0;
			font-family: Raleway;
			font-weight: 300;
			font-size: 1.6rem;
		}

		&-btn {
			min-height: 2.2rem;
			padding: 0 3.5rem 0 0;
			margin-top: 5.5rem;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			border-width: 0;
			color: $white;
			background-color: transparent;
			font-family: Raleway;
			font-size: 1.9rem;
			text-transform: uppercase;
			cursor: pointer;
			transition: all .1s;

			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				transition: all .1s;
			}

			&::before {
				width: 2.2rem;
				height: .2rem;
				background-color: $white;
			}

			&::after {
				width: 1rem;
				height: 1rem;
				transform: rotateZ(45deg);
				border-top: 2px solid $white;
				border-right: 2px solid $white;
			}

			&:hover {
				color: $main;

				&::before,
				&::after {
					margin-right: -.5rem;
				}

				&::before {
					background-color: $main;
				}

				&::after {
					border-color: $main;
				}
			}

			&--close {
				padding: 0;
				font-size: .01rem;

				&:hover {
					&::before,
					&::after {
						background-color: $white;
						margin: 0;
					}
				}

				&::before,
				&::after {
					width: 2.2rem;
					height: .2rem;
					border-width: 0;
					background-color: $mainDark;
				}

				&::before {
					position: relative;
					transform: rotateZ(135deg);
				}

				&::after {
					position: absolute;
					left: 0;
				}
			}
		}
	}
}

.team {
	@extend .works;

	&__wrap {
		@extend .header__wrap;
	}

	&__cont {
		@extend .about__cont;
	}

	&__heading {
		@extend .about__heading;
	}

	&__subheading {
		@extend .about__subheading;
	}

	&__list {
		@extend .works__list;
	}

	&__member {
		@extend .works__item;
		position: relative;

		&:hover &-description {
			transform: rotateY(0);
		}

		&-photo {
			@extend .works__item-photo;
		}

		&-description {
			width: calc(100% - 3rem);
			padding: 4rem;
			margin: 1.8rem 1.5rem;
			position: absolute;
			bottom: 0;
			background-color: $main;
			color: $mainDark;
			transform-origin: left;
			transform: rotateY(90deg);
			transition: all .3s;

			&::before {
				content: "";
				width: 3rem;
				height: 3rem;
				position: absolute;
				left: 2rem;
				top: -1rem;
				background-color: $main;
				transform: rotateZ(57deg) skew(30deg);
			}
		}

		&-name {
			margin: 0;
			font-family: Merriweather;
			font-size: 2rem;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
		}

		&-position {
			font-size: 1.5rem;
			font-weight: 400;
			font-style: italic;
			text-transform: none;
			color: $text;
		}

		&-about {
			font-family: Raleway;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.5;
		}

		&-socials {
			margin-top: 5rem;
			display: flex;
		}

		&-link {
			font-size: 1.35rem;
			margin-right: 1rem;
			transition: all .1s;

			&:hover {
				color: $white;
			}
		}
	}
}

.testimonals {
	@extend .works;
	background-color: $grayLight;

	&__wrap {
		@extend .header__wrap;
	}

	&__cont {
		@extend .about__cont;
	}

	&__heading {
		@extend .about__heading;
	}

	&__subheading {
		@extend .about__subheading;
	}

	&__content {
		@extend .about__content;
		justify-content: space-between;
	}

	&__carousel {
		@extend .about__carousel;
		width: 100%;
		padding: 0;

		&-list {
			@extend .about__carousel-list;

			&::before {
				display: none;
			}
		}

		&-item {
			@extend .about__carousel-item;	
			width: 31.5rem;
			height: 41rem;
			position: relative;

			&::before {
				@extend .about__carousel-list::before;
				height: 36rem;
				width: calc(100% + 9rem)
			}

			&-cont {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-dots {
			@extend .about__carousel-nav;
			width: 40.5rem;
		}

		&-dot {
			@extend .about__carousel-dot;

			&.active {
				@extend .about__carousel-dot.active;
			}
		}

		&-pagination {
			display: flex;
			justify-content: space-between;
		}

		&-nav {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		&-btn {
			height: 5.5rem;
			width: 5.5rem;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-width: 0;
			font-size: .1rem;
			color: $white;
			border-radius: .3rem;
			background-color: $white;
			box-shadow: 0 0 20px -10px $grayDark;
			cursor: pointer;
			transition: all .1s;

			&:hover {
				color: $main;
				background-color: $main;

				&::before,
				&::after {
					background-color: $mainDark;
					opacity: 1;
				}
			}

			&::before,
			&::after {
				content: "";
				width: 1.3rem;
				height: .5rem;
				margin: .15rem;
				position: relative;
				cursor: pointer;
				background-color: $text;
				opacity: .5;
				transition: all .1s;
			}

			&::before {
				transform: rotateZ(45deg) skewX(-45deg);
			}

			&::after {
				transform: rotateZ(-45deg) skewX(45deg);
			}

			&--prev {
				margin-right: 3rem;
				transform: rotateZ(180deg);
			}
		}
	}

	&__member {
		max-width: 65rem;
		height: 36rem;
		padding: 1.5rem;
		text-align: center;
		background-color: $gray;
		display: flex;
		justify-content: center;
		align-items: center;

		&-cont {
			width: 75%;
			margin: auto;
		}

		&-name {
			@extend .team__member-name;
			color: $title;
		}

		&-position {
			@extend .team__member-position;
			text-transform: uppercase;
		}

		&-about {
			@extend .team__member-about;
		}

		&-stars {
			width: 11rem;
			margin: 3rem auto 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		&-star {
			font-size: 1.3rem;
			color: $yellow;
		}
	}
}

.logos {
	@extend .works;
	min-height:	max-content;

	&__wrap {
		@extend .header__wrap;
	}

	&__list {
		width: 100%;
		margin: 4rem 0 0;	
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: space-between;	
		align-items: center;	

		&--current {
			width: 50%;	
			margin: auto;
			flex-direction: row;
		}
	}

	&__item {
		width: auto;
		margin: .5rem;
	}
}

.contacts {
	@extend .works;
	background-image: url('../img/bgs/contacts_bg.jpg');
	background-size: cover;	
	background-position: center;
	box-shadow: inset 0 0 550px 250px $grayLight;

	&__wrap {
		@extend .header__wrap;
		height: 100%;
	}

	&__form {
		width: calc(50% + 6rem);
		min-height: 100%;
		padding: 3.5rem 3rem;	
		display: flex;	
		flex-direction: column;	
		background-color: $contactsBg + bf;
		color: $contacts;
	}

	&__input {
		min-height: 4.5rem;
		margin-bottom: 1.5rem;	
		border-width: 0;
		border-bottom: 1px solid $contacts+a1;
		font-family: Raleway;
		font-size: 1.5rem;
		font-weight: 400;
		background-color: transparent;
		color: $white;

		&::placeholder {
			color: $contacts;
		}
	}

	&__textarea {
		height: 12.6rem;
	}

	&__submit {
		@extend .banner__btn;
		margin: 2rem auto 0 0;	
		border-width: 0;
		background-color: $main;
		color: $mainDark;

		&:hover {
			background-color: $mainDark;
		}
	}

	&__content {
		@extend .contacts__form;
		width: calc(50% - 9rem);
		padding-bottom: 2rem;	
		font-family: Raleway;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.5;
	}

	&__paragraph {
		margin: 0;
	}

	&__map {
		width: 	calc(100% + 2rem);
		height: 22.5rem;
		margin: 2rem -1rem -0;
	}
}

.footer {
	padding: 9rem 0;
	color: $grayMedium;
	background-color: $mainDark;
	font-family: Raleway;
	text-align: center;

	&__wrap {
		@extend .header__wrap;
		flex-direction: column;	
		justify-content: center;	
		align-items: center;	
	}

	&__heading {
		margin: 0;	
		color: $gray;
		text-transform: uppercase;
		font-size: 1.6rem;		
		font-weight: 400;	
	}

	&__social {
		margin: 1.5rem 0 4rem;
	}

	&__btn {
		width: 4.5rem;	
		height: 4rem;	
		margin: 0 .3rem;	
		font-size: 2.35rem;	
		display: inline-flex;	
		justify-content: center;	
		align-items: center;	
		background-color: $text;
		transition: all .2s;

		&:hover {
			color: $mainDark;
			background-color: $main;
		}	
	}

	&__copyright {
		margin: 0;	
		font-size: 1.6rem;	
	}
}

// ADAPTATION

@media (max-width: 1200px) {
	.header__wrap,
	.banner__wrap,
	.about__wrap,
	.works__wrap,
	.services__wrap,
	.team__wrap,
	.testimonals__wrap,
	.logos__wrap,
	.contacts__wrap,
	.footer__wrap {
		width: 96rem;
	}
}

@media (max-width: 992px) {
	.banner,
	.about,
	.works,
	.services,
	.team,
	.testimonals,
	.logos,
	.contacts {
		padding: 4rem 0;
	}

	.header__wrap,
	.banner__wrap,
	.about__wrap,
	.works__wrap,
	.services__wrap,
	.team__wrap,
	.testimonals__wrap,
	.logos__wrap,
	.contacts__wrap,
	.footer__wrap {
		width: 72rem;
	}

	.about__cont,
	.works__cont,
	.services__cont,
	.team__cont,
	.testimonals__cont {
		margin-bottom: 5rem;
	}

	.banner {
		&__title {
			font-size: 3rem;
		}
	}

	.about {
		&__content {
			flex-direction: column-reverse;
		}

		&__carousel,
		&__text {
			width: 100%;
		}
	}

	.services {
		&__item {
			min-width: 100%;
		}
	}

	.team {
		&__member {
			width: calc(50% - .75rem);

			&:hover &-description {
				transform: rotateY(90deg);
			}

			&-description {
				width: 100%;
				height: 100%;
				margin: 0;

				&::before {
					display: none;
				}

				&::after {
					content: 'x';
					position: absolute;
					right: 1rem;
					top: .5rem;
					font-size: 1.5rem;
					color: $white;
					font-weight: 700;
				}

				&--active {
					transform: rotateY(0) !important;
				}
			}
		}
	}

	.testimonals {
		&__carousel {
			&-item {
				width: 40rem;
				margin: 0 0 0 2rem;
			}

			&-dots {
				width: 23rem;
			}
		}

		&__member {
			&-cont {
				width: 100%;
			}
		}
	}

	.logos {
		&__list {
			margin-top: 0;

			&--current {
				display: none;
			}
		}
	}

	.contacts {
		&__wrap {
			flex-direction: column-reverse;
		}

		&__form, 
		&__content {
			width: 100%;
		}

		&__content {
			margin-bottom: 2rem;
		}
	}
}

@media (max-width: 768px) {
	.header__wrap,
	.banner__wrap,
	.about__wrap,
	.works__wrap,
	.services__wrap,
	.team__wrap,
	.testimonals__wrap,
	.logos__wrap,
	.contacts__wrap,
	.footer__wrap {
		width: 54rem;
	}
}

@media (max-width: 500px) {
	.header__wrap,
	.banner__wrap,
	.about__wrap,
	.works__wrap,
	.services__wrap,
	.team__wrap,
	.testimonals__wrap,
	.logos__wrap,
	.contacts__wrap,
	.footer__wrap {
		width: 100%;
	}

	.header {
		padding: 1.5rem 0;
	}

	.banner {
		min-height: max-content;

		&__title {
			font-size: 1.8rem;
		}

		&__btn {
			margin: 0 auto;
		}

		&__decor {
			&-img {
				display: none;
			}
		}
	}

	.about {
		&__carousel {
			&-list {
				&::before {
					height: calc(100% - 5rem);
				}
			}

			&-item {
				height: 25rem;
			}
		}
	}

	.team {
		&__member {
			width: 100%;
		}
	}

	.services {
		&__item{
			min-height: 25rem;
			
			&--front,
			&--back {
				padding: 30px 15px;
			}
		}
	}

	.testimonals {
		&__carousel {
			&-item {
				width: 100%;
				height: 35rem;
				margin: 0;
				align-items: flex-start;

				&-cont {
					flex-direction: column;
				}
			}

			&-pagination {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			&-nav, 
			&-dots {
				width: max-content;
			}

			&-nav {
				margin-top: 2rem;
			}
		}
	}
}